# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment folders
.env
.venv/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Data files (large or licensed)
data/*.zip
data/*.xls*
data/*.xlsx
data/*.pickle
data/*.pkl
data/*.parquet

# Optional: Ignore dataset if you want to keep repo small
# data/WA_Fn-UseC_-Telco-Customer-Churn.csv

# Reports and figures
figures/*.png
figures/*.pdf
